
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table th,
table td {
    padding: 15px;
    text-align: left;
}

table th {
    background-color: #000000;
    color: #fff;
    font-weight: bold;
}

table td {
    border-top: 1px solid #ddd;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}


.section-header th {
    background-color: #000000;
    color: #ffffff;
    font-size: 1.2em;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #444;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
}


.logo {
    max-width: 200px;
}

.logo img {
    width: 100%;
    height: auto;
}


nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    margin: 5px 0;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #00bcd4;
}


button {
    background-color: #000000;
    border: none;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #D3D3D3;
}


@media screen and (max-width: 768px) {
    table {
        width: 100%;
        font-size: 0.9em;
    }

    table th,
    table td {
        padding: 10px;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }
}